# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log.*
node_modules/

# --------------------
# App Files
# --------------------
build/
server/data/schema.json
server/data/schema.graphql

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
/out/
.idea/
.idea_modules/

# --------------------
# vim Files
# --------------------
*.swp
*.vim

# --------------------
# vscode Files
# --------------------
.vscode
start.txt
jsconfig.json

# --------------------
# typings Files
# --------------------
typings/