.work-queue-table {
  border:0px solid;

  tr {
    border:0px solid;
    border-bottom: 1px solid;

    th, td {
      border:0px solid;
      text-align: left;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
