.filter {
  // padding-top: 5px;
  // padding: 10px;
}

.tourModalFilter {
  // font-size: 1.2em;
  font-size: 14px;
}
//count1

.preselectionIcon1 {
  width: 15%;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 2px;
  float: right;
  background-color: #004e42;
  font-size: 1.5em;
  margin-top: -6px;
  margin-right: 10px;
  text-align: center;
  color: #ffffff;
  line-height: 17px;
}

.tourTitle1 {
  color: white;
  line-height: 12px;
  // padding: 10px 0 0px 10px;
  margin: 9px 0 0 6px;
  font-size: 11px;
  font-weight: bold;
}

.amount1 {
  padding-left: 0;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.statusIcon1 {
  // padding-left:11px;
}
////////////////////////////////////////
//count2

.preselectionIcon2 {
  width: 22%;
  // right: 4%;
  // bottom: 92%;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 2px;
  float: right;
  background-color: #004e42;
  font-size: 1.5em;
  /* margin-top: 5px; */
  text-align: center;
  color: #ffffff;
  line-height: 17px;
  // position: absolute;
}

.dropdown2 {
  float: right;
  // position: absolute;
  // left: 154px;
}

.statusIcon2 {
  // padding-left:11px;
}

.tourTitle2 {
  color: white;
  line-height: 12px;
  // padding: 10px 0 0px 10px;
  margin: 3px 0 0 6px;
  font-size: 11px;
  font-weight: bold;
}

.amount2 {
  padding-left: 0;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
////////////////////////////////////////
//count3

.preselectionIcon3 {
  width: 30%;
  // right: 4%;
  // bottom: 92%;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 2px;
  float: right;
  background-color: #004e42;
  font-size: 1.5em;
  /* margin-top: 5px; */
  text-align: center;
  color: #ffffff;
  line-height: 17px;
  // position: absolute;
}

.dropdown3 {
  float: right;
}

.statusIcon3 {
  position: absolute;
  left: 52px;
  bottom: 1px;
}

.tourTitle3 {
  display: none;
}

.amount3 {
  /* padding-left: 0%; */
  left: 10px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  position: absolute;
}
///////////////////////////////
//count4

.preselectionIcon4 {
  width: 30%;
  // right: 4%;
  // bottom: 92%;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 2px;
  float: right;
  background-color: #004e42;
  font-size: 1.5em;
  /* margin-top: 5px; */
  text-align: center;
  color: #ffffff;
  line-height: 17px;
  // position: absolute;
}

.dropdown4 {
  // position: absolute;
  // right: 0;
  float: right;
}

.tourTitle4 {
  display: none;
}

.statusIcon4 {
  position: absolute;
  left: 15px;
  bottom: 1px;
}

.amount4 {
  /* padding-left: 0%; */
  display: none;
}
///////////////////////////////

.searchText {
  text-align: right;
  padding-top: 10px !important;
}

.bookedColor {
  color: #666666;
  font-size: 1.5em !important;
}

.pinRotationOn {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}

.pinRotationOff {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.placeholder {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(242, 242, 242);
  background-size: cover;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
}

.placeholderBottom {
  height: 50px;
  width: 100%;
  position: absolute;
  border-top: 1px solid rgb(204, 204, 204);
  bottom: 0;
  background-color: white;
  padding: 5px;
}

.placementPlaceholder {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(0, 97, 95);
  background-size: cover;
  border-radius: 3px;
}

.placementPlaceholderBottom {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #007674;
  padding: 5px;
  border-radius: 3px;
}
